<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Smart_Structure/src">
        <classes>
            <class name="test.LoginTest">
                <methods>
                    <include name="invalidLogin"/>
                    <include name="emptyLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>